<div>
    <header class="center">
        What are we Doing?
    </header>
    <content class="flex-container">
        <div class="flex-col">
            <a href="#views/sendMoney" class="button large radius">Send Money</a>
            <a href="#views/transactionHistory" class="button large radius">View Transaction History</a>
        </div>
    </content>
</div>