<div>
    <header class="center">
        Send Money
    </header>
    <content class="flex-container">
        <div>
            <span class="success flex-item">You have sent $<%=data.amount%> USD to <%=data.emailTo%>!</span>
        </div>
    </content>
    <footer>
        <a href="#" class="back button medium">Send Money</a>
        <a href="#views/transactionHistory" class="next button medium">Transaction History</a>
    </footer>
</div>