<header class="center">
    Send Money
</header>
<main class="flex-container">
    <div class="form-item">
        <label for="to">To:</label>
        <input id="to" placeholder="uie@paypal.com" type="email" name="emailTo" tabindex="10">
        <span class="status"></span>
    </div>
    <div class="form-item">
        <label for="amount">Amount:</label>
        <input id="amount" type="text" tabindex="11" name="amount">
        <select tabindex="12" class="right" name="currency" id="currency">
            <option selected>USD</option>
            <option>EUR</option>
            <option>JPY</option>
        </select>
        <span class="status"></span>
    </div>
    <div class="form-item flex">
        <label for="message">Message (optional):
            <textarea id="message" tabindex="13" name="message"></textarea>
        </label>
        <span class="status"></span>
    </div>
    <div class="section">What's this payment for?</div>
    <div class="form-item-radio">
        <input id="pFriends" type="radio" name="paymentFor" value="friends" checked tabindex="14">
        <label for="pFriends">I'm sending money to family or friends </label>
        <input id="pGoods" type="radio" name="paymentFor" value="goods" tabindex="15">
        <label for="pGoods">I'm paying for goods or services </label>
    </div>
</main>
<footer>
    <input type="reset" class="clear button medium" value="Clear"/>
    <input type="submit" class="next button medium" tabindex="16" value="Next"/>
</footer>
