<header class="center">
    Transaction History
</header>
<main>
    <div class="table">
        <%data.payload.forEach(function(d){%>
        <div class="row">
            <div><%=obj.formatDate(d.timestamp || d.when)%></div>
            <div><%=d.emailTo%></div>
            <div class="<%= d.currency || 'USD'%>"><%=d.amount%></div>
        </div>
        <%});%>
    </div>
</main>
<footer>
    <a href="#views/choice.html" class="button medium center">Back</a>
</footer>
